
.wrapper {
  background-image: url('../../assets/Background.jpg');
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  max-height: 999px;
  width: 100%;
  z-index: 1;
  
}
